.container {
  display: flex;

  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  padding: 2em;
  height: 100vh;
  overflow-y: scroll;
  /* height: 90vh; */

  /* border: 1px red rgb(189, 189, 71); */
}

.title {
  font-size: 300%;
  font-family: Poppins;
  font-weight: 700;
}

.form {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
  width: 80%;

  gap: 0.5em;
  max-width: 1000px;
}

.form > * {
  padding: 1em;
  border-radius: 0.5cm;
}

.form > *:focus {
  border: 3px grey dashed;
}

.subject {
  grid-area: 3/1 / span 1 / -1;
}

.name {
  grid-area: 1/1 / span 1 / span 2;
}

.switch {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  align-items: center;
  justify-content: center;
  grid-area: 7/1;
}
.switch > p {
  width: 100%;
  align-self: center;
  margin: 1em;
  padding: 0.5em;
}

.email {
  grid-area: 2/1 / span 1 / span 2;
}

.message {
  grid-area: 4/1 / span 3 / span 3;

  width: 100%;
  height: 100%;

  word-wrap: break-word;
}

.submit {
  grid-area: 7/2;
  font-size: 170%;
  font-family: Poppins;
  font-weight: 700;
}
