.container {
  display: flex;
z-index: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  /* padding: 2em; */
  height: 100%;
  overflow: hidden;
  /* height: 90vh; */

  /* border: 1px red rgb(189, 189, 71); */
}

.title {
  font-size: 300%;
  font-family: Poppins;
  font-weight: 700;
  color:var(--accent);
}

.form {
  display: grid;
  grid-template-rows: repeat(8, 1fr);
  grid-template-columns: repeat(3, 1fr);
gap:1em;
width: 90vw;
height: 40%;
  
  max-width: 1000px;
  max-height: 700px;
}



.subject {
  grid-area: 3/1 / span 1 / -1;
}

.name {
  grid-area: 1/1 / span 1 / span 2;
}

.switch {
  display: flex;
  width: 100%;
  height: 100%;
  font-family: Poppins;
  align-items: center;
  justify-content: center;
  grid-area: 7/1;

  background-color:white;
  
}
.switch > p {
  /* width: 80%; */
  align-self: center;
  /* margin: 1em; */
  padding: 0.5em;
  color:black;
  font-family: Poppins, monospace;
  font-weight: 700;
}

.email {
  grid-area: 2/1 / span 1 / span 2;
}

.message {
  grid-area: 4/1 / span 3 / span 3;

  width: 100%;
  height: 50%;

  word-wrap: break-word;
}

.submit {
  color:var(--accent);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 7/2;
  font-size: 1em;
  font-family: Poppins;
  font-weight: 700;
  height: 200%;
  max-height: 100px;
  margin-top: 5%;
}
