.container{
    display: flex;
    z-index: 2;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    position: fixed;
    right: 0;
    top:20%;
    width: 15%;
    max-width: 90px;
    max-height: 200px;
    height: 20%;
    padding: 1em;
    background-color: var(--accent);
    border-radius: 35px 0px 0px 35px;;
}

.container > *{
    cursor: pointer;
    transition-duration: 700ms;
}

.container>*:hover{
    transform: scale(90%);
}

.tooltip{
    z-index: 10000;
}