.navBarContainer {
  position: fixed;
  display: flex;
  justify-content: center;
  /* margin: 2.5em; */

  width: 10%;
  flex-direction: row;
  gap: 2em;
  transition-duration: 100ms;

  

  z-index: 10000;
}

.menu {
  max-width: 300px;
  position: fixed;
  left: 0;
  bottom: 35%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--neutral);
  border-radius: 10%;

  transform: translate(100%);

  transition-duration: 500ms;
  width: 50%;
  height: 40%;

  border-right: 8px groove var(--neutral);
  border-radius: 0px 40px 40px 0px;
}

.burger {
  position: fixed;
  z-index: 90;
  color: white;
  background-color: black;
  padding: 1px;
  bottom:4%;
  right:5%;
  transition-duration: 100ms;  
  border-radius: 20%;
  align-self: center;
}
.burgerOpen {
  transform: rotate(-90deg);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Poppins;
  font-weight: 700;
  background-color: var(--main);
  width: 90%;
  max-width: 200px;

  padding: 9px;
  color: var(--accent);

  border-right: 8px groove #1c6ea4;
  border-radius: 15px 15px 15px 15px;
}
