.navBarContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:5em;
    margin: 0.5em;
    padding: 1em;
    flex-direction: column;
    
}

.navBarMobile{
    display: flex;
    flex-direction: column;
    
    gap:2em;
    width: 1em;
    
    margin: 0.5em;
    padding: 1em;
    position: fixed;
    bottom: 2em;
    left:2em;
transition-duration: 100ms;
height: 50%;
    
}



.burger{
    align-self: center;
    position: fixed;
    bottom: 2em;
    left:2em;
    transition-duration: 100ms;
    
}
.burgerOpen{
   transform: rotate(-90deg);
    
}




.button{
    font-family: var(--title-font);
   width: 10em;
   padding: 9px;
   
}

