.navBarContainer{
    display: flex;
    justify-content: flex-end;
    gap:2em;
    margin: 0.5em;
    padding: 1em;
    z-index: 2;
}



.navBarMobile{
    flex-direction: column;
    position: absolute;
    bottom: 2em;
    left:2em;
}

.buttonLeft{
    justify-self:normal;
}
.button{
    font-family: var(--title-font);
   width: 10em;
   padding: 9px;
   
}
.burger{
    align-self: center;
    width: 10em;
    
}
.burgerOpen{
    transform: rotate(90deg);
    
}
