.navBarContainer{
    position: absolute;

    display: flex;
    justify-content: center;
    align-items: center;
    
    gap:5em;
    margin: 0.5em;
    padding: 1em;
    flex-direction: column;

    transition-duration: 100ms;

    border: 1px red solid;

    
}


/* .menu{
    /* position: relative; */
/* }  */




.burger{
    z-index: 50;
    align-self: center;
    position: fixed;
    bottom: 2em;
    left:2em;
    transition-duration: 100ms;
    
}
.burgerOpen{
   transform: rotate(-90deg);
    
}




.button{
    font-family: var(--title-font);
   width: 10em;
   padding: 9px;
   
}

