.splashContainer {
    width: 100%;
    height: 100vh;
  display: grid;
  grid-template-columns: 6% 12% 1fr 12% 6%;
  grid-template-rows: 12% 1fr 1fr 1fr;
 

  /* border: 3px red solid; */

  overflow-y: hidden;
  overflow-x: hidden;

  background-image: url("/code-background.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.avatar {
grid-row:2/2;
grid-column: 3/3;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .avatarBorder {
  border: 5px var(--light-accent) inset;
  filter: drop-shadow(10px 10px 4px #4444dd);
} */

.blobContainer {
  /* grid-area: x / y/ x /y;  */
  grid-row: 2 /  span 1; 
  grid-column: 1/span 3;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
left: -439%;
bottom: -73%;
  height: 1000%;
  width: 1000%;


 
}



.blobDesktop {
  height: 100em;
  width: 200em;
  bottom: -60%;
}

.backgroundFilter {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: var(--neutral);
  filter: blur(30px);
  opacity: 0.5;
  filter: hue-rotate(20deg);
}

.progressButtonContainer {
    grid-column:2/span 3;
    grid-row: 4/span 1;;

z-index: 30;
  flex-direction: row;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;


  overflow-y: hidden;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

.arrowLeft,
.arrowRight {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 10em;
}

.arrowLeft:hover,
.arrowRight:hover {
  transform: rotate(360deg);
}

.arrowRight {
  transform: scaleX(-1);
  right: 25px;
}

.arrowLeft {
  left: 25px;
}

.progressButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: 10vh;
  max-width: 400px;
  background-color: var(--neutral);
  font-family: Poppins;
  font-weight: 700;

  font-size: 100%;

  border-radius: 10px 10px 30px 30px;
  color:var(--accent)
}
.progressButton::content{
  width: 100%;
}


.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;



  grid-row: 3 /span 1;
  grid-column:2 / span 3;
  z-index: 10;
  color: var(--font-color);

 

  
  /* border:1px red solid; */
}

.mainTitle,
.secondaryTitle {
    font-weight: 700;
color: var(--accent);
  display: flex;
  font-family: Poppins, sans-serif;
  justify-content: center;
  align-items: center;
}





.secondaryTitle {
    color: var(--accent);
  font-weight: 300;
  font-size: 200%;
}

.thirdTitle {
    color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 1rem;
}
