.SplashContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2em;
    overflow-wrap: inherit;
    flex-direction: column-reverse;
    



  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height:20vh;
  
}




.heading{
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: stretch;
    font-family: var(--title-font);
    color:black; 
    font-size: 2em; 
    height:2em;
    
    
    
   
    font-weight: bolder;


  
  
}


.avatar{
   
    border:5px var(--light-accent) inset ;
    filter: drop-shadow(10px 10px 4px #4444dd);

    width: 40%;

    
}








