
.aboutMeContainer{
 display: grid;
 grid-template-columns: 5% 1fr;
 grid-template-rows: 19.4% 1fr ;
height: 100%;
width: 100vw;
overflow: hidden;
}


.sideBar{
    grid-area: 1/1 / -1 /2;
    background-color: purple;
    

}

.aboutMeContentContainer{
    
    grid-area: 1/2/-1/-2;
width: 100%;
background-color: #614282;
}

.aboutMeTitle{
    
    font-weight: 700;
    font-family: Poppins;
    margin: 0.5em;
    padding: 0.5em;
    font-size: 4em;
}

.Text{
    color:#F7B801;
    grid-area: 2/2/-1/-1;
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5em;
    
}