.aboutMeContainer{
    display: flex;
   
    flex-direction: column;
    width: 100vw;
    height: 145vw;
    padding:1em;
    

}

.title, .textBlock{
 align-self: flex-start;
}

.title{
    justify-self: start;
    
    font-size: 2.3rem;
}

.textBlock{
    font-size: 2em;
}

.break{
    color:black;
}

