
.aboutMeContainer{
 display: grid;
 grid-template-columns: 5% 20% 20% 1fr;
 grid-template-rows: 19.4% 1fr ;
height: 200%;
width: 80%;
min-width: 350px;
overflow: hidden;

}


.sideBar{
    grid-area: 1/1 / -1 /2;
    background-color: var(--accent);
    

}

.aboutMeContentContainer{
    
    grid-area: 1/3/span 2/span 2;
width: 100%;
background-color: var(--neutral);
}

.aboutMeTitle{
    color:var(--accent);
    font-weight: 700;
    font-family: Poppins;
    margin: 0.5em;
    padding: 0.5em;
    font-size:6em;
}

.Text{
    grid-area: 2/2/-1/-1;
    color:var(--font-color);
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1.5em;
    
}