:root{
    --light-shades: #F8F4F1,
    /* Use this color as the background for your dark-on-light designs, or the text color of an inverted design. */
    
   
    --light-accent: #BDA5AA,
    /* Accent colors can be used to bring attention to design elements by contrasting with the rest of the palette. */
   
    --main-brand-color: #F55045,
    /* This color should be eye-catching but not harsh. It can be liberally applied to your layout as its main identity. */
    
 
    --dark-accent: #AE969C,
    /* Another accent color to consider. Not all colors have to be used - sometimes a simple color scheme works best. */


    --dark-shade : #1E5997
    /* Use as the text color for dark-on-light designs, or as the background for inverted designs. */
}