@import "./pattern.css";

:root{
  --main-brand-color: #44CCFF;
  --light-accent: #35FF69;
  --dark-accent: #D138BF ;
  --shade: #7494EA;
  --title-font: "Catamaran", monospace;
}

html{
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;

}

/* ::-webkit-scrollbar {
  display: none;
} */
