.row{
    display: flex;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 10000px;
    
}




/* .left{
    justify-self: flex-start;
    align-self:flex-start;
    
} */

.center{
    justify-self:center;
    align-self: flex-start;
}