
.techStackContainer{
    display: flex;
    width: 100%;
    
    justify-content: center;
    align-items: center;
}

.aboutMeTechLayout{
    display: flex;
    
}

/* .left{
    justify-self: flex-start;
    align-self:flex-start;
    
} */

/* .center{
    justify-self:center;
    align-self: flex-start;
} */