.techStackContainer{
 display: flex;
 
 justify-content: center;
 align-items: center;
 width: 90vw;
 font-size: 5em;
 flex-wrap: wrap;
 gap:0.5em;
 margin:1em;

}

.react{
    color:blue;
}

.javascript{
    color:#F0DB4F;
}

.css{color:blue}

