.techStackContainer{
background-color: var(--main);
border-radius: 1cm;
 display: grid;
 grid-template-columns:  repeat(10%, 3);
 grid-template-rows: 1 1fr 1fr 1fr 1fr;

 height: 100vh;
 font-size: 5em;

 gap:0.5em;
 margin:0.5rem;
 padding: 0.9rem;

 border: 1px var(--accent) solid;

 overflow: hidden;
 min-width: 200px;

 /* border:solid 1px red; */

}
.title{
    /* border: 1px red solid; */
    grid-area: 1/1/span 1/span 3;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: var(--font-color);
}

.ToolBoxContainer{
    display: flex;
    flex-direction: column;
    font-size: 1em;
    height: 80%;
    width: 80%;
    padding: 0.3%;

    max-width: 700px;
    max-height: 900px;

    
}




.techStackContainer > *:not(h4){
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 0.2cm;
    padding: 0.1em;

    transition-duration: 50ms;
}

.techStackContainer > *:not(h4):hover{
    width: 95%;
    height: 95%;
    /* border:1px dotted black; */
}


.react{
    grid-area: 3/2/span 1/ span 1;
    color:blue;

}

.node{
    grid-area: 3/1/span 1/ span 1;
}

.express{
    grid-area: 3/3/span 1/ span 1;
}

.javascript{
    grid-area: 2/2/span 1/ span 1;
    color:#F0DB4F;
}

.css{
    grid-area: 2/3/span 1/ span 1;
    color:blue
}

.html{
    grid-area: 2/1/span 1/ span 1;
}

.next{
    grid-area: 4/1/span 1/ span 1;
}

.github{
    grid-area: 4/2/span 1/ span 1;
}

.git{
    grid-area: 4/3/span 1/ span 1;
}

.postgres{
    grid-area: 5/2/span 1/ span 1;
}


.typescript{
    grid-area: 5/1;
}